body{
    margin: 0;
    padding: 0;
}

/* Se da estilo al nav bar */
.menu_nav_bar {
    list-style-type: none;
    margin-right: 111px;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    display: flex;
    float: right;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.16em;
    color: #000000;
    text-transform: uppercase;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.contenedor_header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/* Se da estilo al nombre que acompaña al logo */
.contenedor_header div p {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 28px; 
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.28em;
}

.Logo a{
    display: flex;
    margin-left: 111px;
    text-decoration: none;
}

.Logo{
    display: flex;
}

.Logo p{
    margin-left: 16px;
}

.Logo a img {
    width: 56px;
    height: 56px;
}

.section_one{
    display: grid;
    grid-template-areas: 
        "texto imagen imagen"
        "texto imagen imagen"
        ".     .      .     ";
    grid-template-rows: ;
}

.grid{
    display: grid;
    grid-template-areas: 
        "titulo titulo"
        "imagen imagen1"
        "imagen2 imagen3"
        ;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-items: center;
    border:2px solid black;
}

.a{
    grid-area: titulo;
    border: 2px solid black;
}

.b{
    grid-area: imagen;
}

.c{
    grid-area: imagen1;
}

.d{
    grid-area: imagen2;
}

.e{
    grid-area: imagen3;
}