@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 90px;
}

/* Se da estilo al nav bar */
.menu_nav_bar {
  list-style-type: none;
  margin-right: 40px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.16em;
  color: #000000;
  text-transform: uppercase;
  margin-top: unset;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a a:hover {
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #EF8094;
}

.contenedor_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #fff;
  padding: 15px 0px;
}

.contenedor_header div p {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.28em;
}

.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  text-decoration: none;
  line-height: 18px;
}

.Logo p {
  margin-left: 16px;
  margin-top: 14px;
}

.Logo a img {
  width: 56px;
  height: 56px;
}

.contenedor_main {
  background-color: #F5F8FF;
  padding-left: 40px;
}

.contenedor_main h1 {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  width: 511px;
}

.section_one .left,
.section_one .right {
  width: 50%;
}

/* Se crea el CTA principal */
.btn_main {
  width: auto;
  height: 59px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 4px solid #EF8094;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 300px;
  color: #000000;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.12em;
  margin-top: 30px;
  cursor: pointer;
}

.section_one {
  background-color: #F5F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_one p {
  width: 473px;
  height: 96px;
  top: 127px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000000;
}

.section_one img {
  width: 100%;
}

.cards {
  border: 2px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 575px;
  height: 291px;
}

.contenedor-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section_two {
  height: 624px;
  left: 0px;
  right: 0px;
  top: 642px;
}

h2 {
  text-align: center;
  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.cards h3 {
  text-align: center;
  color: #000000;
  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  margin: 10px;
}

.cards p {
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0.12em;
  margin: -20px;
}

/* Se crea el botón secundario */
.btn_secondary {
  height: 52px;
  background: #EF8094;
  border: 4px solid #EF8094;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 300px;
  width: auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0.12em;
  color: #FFFFFF;
  position: relative;
  padding: 12px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.texto_secondary {
  height: 96px;
  left: calc(50% - 721px/2 - 0.5px);
  top: 457px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #000000;
  text-align: center;
  margin-top: 43px;
}

.section_three {
  width: 1237px;
  height: 1814px;
  left: calc(50% - 1237px/2 + 105.5px);
  top: 1318px;
}

.servicios h3 {
  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-left: 40px;
}

.servicios p {
  width: 391px;
  height: 96px;
  left: 453px;
  top: 173px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-left: 40px;
}

.contenedor_servicios_uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 323px;
  height: 390px;
  margin: 0 auto;
  margin-top: 100px;
}

#margin_title {
  margin-top: -70px;
}

.contenedor_servicios_dos {
  width: 1232px;
  top: 10px;
  margin-top: -100px;
}

.servicios_dos h3 {
  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  text-align: center;
  margin-top: -120px;
}

.servicios_dos p {
  width: 465px;
  text-align: center;
  margin: 0 auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.01em;
  color: #000000;
}

#alinear_btn {
  text-align: center;
}

.section_four {
  background-color: #F5F8FF;
}

.redes_sociales {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #000000;
  width: 312px;
}

.redes_fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contenedor_redes {
  padding-right: 20px;
  text-align: center;
}

#alinear_btnsecondary {
  text-align: center;
}

footer {
  background-color: #FFFFFF;
}

.container_footer_all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columna_1 {
  max-width: 400px;
}

.columna_1 h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.12em;
  color: #000000;
}

.columna_1 p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: #000000;
  margin-top: 20px;
}

.columna_2 {
  max-width: 400px;
}

.columna_2 h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.12em;
  color: #000000;
}

.row-f {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-f img {
  width: 26px;
  height: 26px;
}

.row-f p {
  margin-top: 10px;
  margin-left: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: #000000;
}

.columna_3 {
  max-width: 400px;
}

.columna_3 h3 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.12em;
  color: #000000;
}

.fila {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fila img {
  width: 26px;
  height: 26px;
}

.fila p {
  margin-left: 20px;
  margin-top: 10px;
  max-width: 165px;
}

.container_footer {
  width: 100%;
  border-top: 2px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.copyright {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: #000000;
}

.information a {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-decoration: none;
  color: #000000;
}

.grid_lanzamientos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo titulo" "producto1 producto2 producto3" "producto4 producto5 producto6" "producto7 producto8 producto9";
  -ms-grid-columns: ()[auto];
      grid-template-columns: repeat(auto);
  -ms-grid-rows: ()[auto];
      grid-template-rows: repeat(auto);
  grid-column-gap: 3px;
  grid-row-gap: 5px;
  justify-items: center;
}

.grid_lanzamientos h1 {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 56px;
  color: #000000;
  text-decoration: underline;
}

.title_lanzamientos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
}

.card_hover:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.text_style {
  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

.producto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: producto1;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: producto2;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: producto3;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: producto4;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: producto5;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: producto6;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto7 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: producto7;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto8 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: producto8;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.producto9 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: producto9;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #F5F8FF;
}

.grid_form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo titulo" "campo1 . ." "campo2 . ." "campo3 . ." "campo4 . ." "campo5 . ." "btnform . .";
  -ms-grid-columns: ()[auto];
      grid-template-columns: repeat(auto);
  -ms-grid-rows: ()[auto];
      grid-template-rows: repeat(auto);
  grid-column-gap: 3px;
  grid-row-gap: 5px;
  justify-items: center;
}

.grid_form h1 {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 56px;
  color: #000000;
  text-decoration: underline;
}

.title_form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
}

.campo1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: campo1;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.campo2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: campo2;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.campo3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: campo3;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.campo4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: campo4;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.campo5 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: campo5;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.btnform {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: btnform;
  background: #EF8094;
  width: 120px;
  height: 32px;
  border-radius: 4px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1100px) {
  .container_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .columna_2, .columna_3 {
    margin-top: 40px;
  }
  .columna_1 {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */